[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
flask-sqlalchemy = "*"
flask = "*"
pylint = "*"
flake8 = "*"
tweepy = "*"
spacy = "3.13"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
